<template>
  <div>
    <section
      class="section"
      style="margin-top:-80px">
      <div
        class="container is-flex"
        style="justify-content: flex-end;">
        <div
          v-if="isNotificationAddCitizenShown"
          class="notification is-warning">
          <button
            class="delete"
            @click="toggleNotificationAddCitizen"/>
          Ciao! Il sistema non è ancora abilitato ad aggiungere nuovi collaboratori, presto verrà attivata questa funzionalità ❤️
        </div>
        <base-button
          class="is-circular"
          style="box-shadow: 0px 0px 300px -30px rgba(128,128,128,0.75); width:64px; height: 64px"
          @click="toggleNotificationAddCitizen">
          <base-icon
            icon="plus:medium"/>
        </base-button>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div
          v-if="isCitizensLoading"
          class="columns is-multiline is-mobile">
          <div
            class="column is-one-quarter is-half-tablet-only">
            <citizen-card
              :loading="isCitizensLoading"
            />
          </div>
        </div>
        <div
          v-else
          class="columns is-multiline">
          <div
            class="column is-one-quarter is-half-touch">
            <app-citizen-collection-citizen-card
              :citizen="citizen"
              style="height: 100%"/>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AppCitizenCollectionCitizenCard from '@/modules/realms/components/AppCitizenCollectionCitizenCard'

export default {
  components: {
    AppCitizenCollectionCitizenCard
  },
  data () {
    return {
      isNotificationAddCitizenShown: false
    }
  },
  computed: {
    citizen () {
      return this.$store.getters['app/profile']
    },
    // citizens () {
    //   return this.$store.getters['app/currentRealmCitizens']
    // },
    currentRealm () {
      return this.$store.getters['app/currentRealm']
    },
    isCitizensLoading () {
      return this.$store.getters['app/isWaiting']
    },
    realms () {
      return this.$store.getters['app/realms']
    },
    hasUserAnyRealms () {
      return this.$store.getters['app/hasRealms']
    }
  },
  watch: {
    realms (newValue, oldValue) {
      this.pushCreate(newValue)
    },
    hasUserAnyRealms (newValue, oldValue) {
      if (!this.hasUserAnyRealms) {
        this.goToCreate(newValue)
      }
    }
  },
  methods: {
    toggleModalAddCitizen: function () {
      this.isModalAddCitizenShown = !this.isModalAddCitizenShown
    },
    pushCreate (realm) {
      if (realm.length !== 0) {
        this.$router.push('contributors')
      } else {
        this.$router.push('create')
      }
    },
    toggleNotificationAddCitizen () {
      this.isNotificationAddCitizenShown = !this.isNotificationAddCitizenShown
    },
    goToCreate () {
      this.$router.push('create')
    },
    checkRealmsPresence (hasUserAnyRealms) {
      if (!hasUserAnyRealms) {
        this.goToCreate()
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .is-circular {
    border-radius: 50px;
  }
</style>
