<template>
  <div>
    <base-overlay
      v-if="isOverlayActive"
      class="overlay-container test-create-realm-overlay">
      <div class="columns">
        <div class="column is-one-third is-offset-one-third">
          <div
            class="content is-medium">
            <p>
              {{ $t('ALIANCO.REALM_EDITOR.OVERLAY_MESSAGE') }}
            </p>
          </div>
          <base-button
            class="is-medium is-primary test-create-realm-overlay-action-button"
            style="width: 260px"
            @click="hideOverlay()">
            {{ $t('ALIANCO.REALM_EDITOR.OVERLAY_ACTION') }}
          </base-button>
        </div>
      </div>
    </base-overlay>
    <section
      class="section">
      <div
        class="container">
        <div
          class="columns is-centered">
          <div class="column is-three-fifths">
            <div
              class="card">
              <div
                class="card-content">
                <app-realm-editor-form
                  :realm="realm"
                  class="test-create-realm-card"
                  @change="updateRealm($event)"/>
                <div
                  class="is-flex"
                  style="justify-content: space-between;">
                  <base-button
                    class="is-white"
                    @click="cancel">
                    {{ $t('ALIANCO.REALM_EDITOR.CANCEL') }}
                  </base-button>
                  <base-button
                    :disabled="!isValidRealm"
                    class="is-primary test-create-realm-card-confirm-button"
                    @click="createRealm">
                    {{ $t('ALIANCO.REALM_EDITOR.NEXT') }}
                  </base-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AppRealmEditorForm from '@/modules/realms/components/AppRealmEditorForm'

export default {
  components: {
    AppRealmEditorForm
  },
  data () {
    return {
      isOverlayOpen: false,
      isValidRealm: false,
      realm: {
        name: '',
        picture: '',
        alias: ''
      }
    }
  },
  computed: {
    isOverlayActive () {
      return !this.hasUserAnyRealms && this.isOverlayOpen
    },
    hasUserAnyRealms () {
      return this.$store.getters['app/hasRealms']
    },
    realms () {
      return this.$store.getters['app/realms']
    }
  },
  watch: {
    hasUserAnyRealms (newValue, oldValue) {
      if (!this.hasUserAnyRealms) {
        this.showOverlay(newValue)
      }
    }
  },
  created () {
    this.checkRealmsPresence(this.hasUserAnyRealms)
    const options = {
      navbar: {
        realms: {
          visible: false
        }
      }
    }
    this.$store.dispatch('app/setOptions', options)
  },
  destroyed () {
    const options = {
      navbar: {
        realms: {
          visible: true
        }
      }
    }
    this.$store.dispatch('app/setOptions', options)
  },
  methods: {
    updateRealm ($event) {
      this.realm = $event.realm
      this.isValidRealm = $event.isValid
    },
    showOverlay () {
      this.isOverlayOpen = true
    },
    hideOverlay () {
      this.isOverlayOpen = false
    },
    createRealm () {
      this.$store.dispatch('alianco/createRealm', this.realm).then(() => {
        this.$router.push({ name: 'ALIANCO.CITIZEN_COLLECTION.$NAME', params: { realm: this.realm.alias } })
      })
    },
    cancel () {
      if (!this.hasUserAnyRealms) {
        this.showOverlay()
      } else {
        this.$router.push({ name: 'ALIANCO.CITIZEN_COLLECTION.$NAME', params: { realm: this.realms[0].alias } })
        // TODO if user has no realms --> show overlay else go to current realm
      }
    },
    checkRealmsPresence (hasUserAnyRealms) {
      if (!hasUserAnyRealms) {
        this.showOverlay()
      }
    }
  }
}
</script>

<style scope lang="scss">

</style>
