<template>
  <div>
    <h1 class="title is-4">Dati di fatturazione</h1>
    <base-input
      v-model="address.name"
      :label="$t('ESPERAS.BILLING_ADDRESS.NAME')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.NAME_PLACEHOLDER')"
      @input="emitChange"/>
    <base-input
      v-model="address.email"
      :label="$t('ESPERAS.BILLING_ADDRESS.EMAIL')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.EMAIL_PLACEHOLDER')"
      class="test-create-realm-name-input"
      @input="emitChange"/>
    <base-input
      v-model="address.address"
      :label="$t('ESPERAS.BILLING_ADDRESS.ADDRESS')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.ADDRESS_PLACEHOLDER')"
      @input="emitChange"/>
    <base-input
      v-model="address.addressDetails"
      :label="$t('ESPERAS.BILLING_ADDRESS.ADDRESS_DETAILS')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.ADDRESS_DETAILS_PLACEHOLDER')"
      @input="emitChange"/>
    <base-input
      v-model="address.city"
      :label="$t('ESPERAS.BILLING_ADDRESS.CITY')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.CITY_PLACEHOLDER')"
      @input="emitChange"/>
    <base-input
      v-model="address.postalCode"
      :label="$t('ESPERAS.BILLING_ADDRESS.POSTAL_CODE')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.POSTAL_CODE_PLACEHOLDER')"
      @input="emitChange"/>
    <base-input
      v-model="address.taxCode"
      :label="$t('ESPERAS.BILLING_ADDRESS.TAX_CODE')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.TAX_CODE_PLACEHOLDER')"
      @input="emitChange"/>
    <base-input
      v-model="address.vatNumber"
      :label="$t('ESPERAS.BILLING_ADDRESS.VAT_NUMBER')"
      :placeholder="$t('ESPERAS.BILLING_ADDRESS.VAT_NUMBER_PLACEHOLDER')"
      @input="emitChange"/>
  </div>
</template>

<script>
export default {
  props: {
    billingAddress: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      address: {}
    }
  },
  watch: {
    billingAddress (value) {
      this.address = JSON.parse(JSON.stringify(value))
    }
  },
  created () {
    this.address = JSON.parse(JSON.stringify(this.billingAddress))
    this.emitChange()
  },
  methods: {
    emitChange () {
      this.$emit('change', {
        address: this.address,
        isValid: this.validate(this.address)
      })
    },
    validate (address) {
      return address &&
             this.isValidEmail(address.email) &&
             address.name && address.name.length > 0 &&
             address.address && address.address.length > 0 &&
             address.city && address.city.length > 0 &&
             address.postalCode && address.postalCode.length > 0 &&
             address.taxCode && address.taxCode.length > 0
    },
    isValidEmail (email) {
      // eslint-disable-next-line
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return email !== null && email.length > 0 && re.test(email)
    }
  }
}
</script>
