<template>
  <base-card
    :image="safeProfilePicture"
    class="is-rounded cardSameHeight">
    <div
      v-if="!loading"
      class="has-text-centered">
      <span class="title is-6">
        {{ citizen? citizen.alias : '' }}
      </span>
      <br>
      <span class="subtitle is-7">
        {{ citizen? citizen.name : '' }}
      </span>
      <br>
    </div>
    <div
      v-if="loading">
      <base-icon
        icon="spinner"/>
    </div>
    <base-modal-card
      :show-modal="isRemovingCitizen"
      @close="toggleRemoveCitizenModal">
      <template
        slot="title"
        @click="toggleRemoveCitizenModal">
        {{ $t('alianco.title-remove-citizen-message-modal') }}
      </template>
      <template slot="body"/>
      <template slot="footer">
        <button
          class="button"
          @click="toggleRemoveCitizenModal">
          Annulla
        </button>
        <button
          class="button"
          @click="toggleRemoveCitizenModal">
          Continua
        </button>
      </template>
    </base-modal-card>
  </base-card>
</template>
<script>

export default {
  props: {
    citizen: {
      default () {
        return {}
      },
      type: Object
    },
    loading: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      isRemovingCitizen: false
    }
  },
  computed: {
    isAdmin () {
      return this.citizen.role === 'admin'
    },
    safeProfilePicture () {
      let profile = this.citizen
      if (profile !== null) {
        if (profile.picture === '' && profile.alias !== null) {
          return `https://api.adorable.io/avatars/96/${profile.alias}@adorable.png`
        } else {
          return profile.picture
        }
      } else {
        return ''
      }
    }
  },
  methods: {
    remove ($event) {
      this.$emit('remove', $event)
      this.toggleRemoveCitizenModal()
    },
    toggleRemoveCitizenModal () {
      this.isRemovingCitizen = !this.isRemovingCitizen
      // button to remove citizen and open modal
      //     <base-button
      //   v-show="!isAdmin"
      // @click="toggleRemoveCitizenModal">
      //     Rimuovi
      //     </base-button>
    }
  }
}
</script>

<style scoped lang="scss">
  .cardSameHeight{
    height: 100%;
  }
</style>
