<template>
  <div>
    <base-input
      v-model="realm.name"
      :label="$t('ALIANCO.REALM_EDITOR.NAME')"
      :placeholder="$t('ALIANCO.REALM_EDITOR.NAME_PLACEHOLDER')"
      class="test-create-realm-name-input"
      @input="emitChange"/>
    <base-input
      v-model="realm.picture"
      :label="$t('ALIANCO.REALM_EDITOR.PICTURE')"
      :placeholder="$t('ALIANCO.REALM_EDITOR.PICTURE_PLACEHOLDER')"
      class="test-create-realm-picture-input"
      @input="emitChange"/>
    <div>
      <input
        id="ALIANCO.REALM_EDITOR.TERM_AND_SERVICE_MESSAGE_2"
        v-model="isServiceTermChecked"
        type="checkbox"
        @change="emitChange">
      <i18n
        path="ALIANCO.REALM_EDITOR.TERM_AND_SERVICE_MESSAGE_1"
        tag="label"
        for="ALIANCO.REALM_EDITOR.TERM_AND_SERVICE_MESSAGE_2">
        <a
          href="https://www.revas.app/terms-for-orgs.pdf"
          target="_blank">{{ $t('ALIANCO.REALM_EDITOR.TERM_AND_SERVICE_MESSAGE_2') }}</a>
      </i18n>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    realm: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      isServiceTermChecked: false
    }
  },
  methods: {
    emitChange () {
      this.realm.alias = this.createAlias(this.realm.name)
      this.$emit('change', {
        realm: this.realm,
        isValid: this.isValid(this.realm)
      })
    },
    cancel () {
      this.$emit('cancel')
    },
    isValid (realm) {
      return realm.name !== null && realm.name.length > 0 &&
        !!this.isServiceTermChecked
    },
    createAlias (name) {
      if (!name) {
        return ''
      }
      return name.replace(/[^A-Z0-9]+/ig, '-').toLowerCase()
    }
  }
}
</script>
